@media only screen and (min-width: 320px) {
  html,
  body {
    padding: 0;
    margin: 0 auto;
  }

  body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  .quote-container {
    max-width: 90%;
    margin: auto;
  }

  blockquote {
    min-height: 200px;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .author {
    font-weight: 300;
    font-size: 0.82em;
    padding-left: 3px;
  }

  .button-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
  }

  a {
    cursor: pointer;
    color: black;
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 0 4px 3px rgba(0, 0, 0, 0.22);
  }

  .loader {
    color: white;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
      color: white;
    }

    50% {
      transform: rotate(180deg);
      color: gray;
    }

    100% {
      transform: rotate(360deg);
      color: gray;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      color: white;
    }

    75% {
      color: gray;
    }

    100% {
      opacity: 1;
      color: black;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .quote-container {
    max-width: 90%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .quote-container {
    max-width: 85%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .quote-container {
    max-width: 50%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .quote-container {
    max-width: 35%;
  }
}
